* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FFFFFF;
}

.head-container {
    width: 100%;
    max-width: 1690px;
    
}

.heads-containers {
    width: 100%;
    max-width: 1290px;
}

.first-page {
    height: 1072px;
    background-color: #DDDDDD;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-header {
    color: #1A1A1A;
}

.title {
    font-size: 40px;
    font-family: 'Poppins-ExtraBold', sans-serif;
    display: inline;
    font-weight: 800;
}

.title span {
    color: #0081FF;
    font-size: 33px;
}

.subtitle {
    font-size: 13px;
    color: #B3B3B3;
    font-family: 'Montserrat-Regular', sans-serif;
    margin-top: 5px;
}

.right-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-container {
    position: relative;
}

.number {
    font-size: 152px;
    color: #1C1C1C;
    font-family: 'Poppins-ExtraBold', sans-serif;
    background-color: #DDDDDD;
    height: 221px;
    width: 170px;
    text-align: center;
    font-weight: 900;
}

.about-me {
    font-size: 40px;
    color: #373737;
    font-family: 'Poppins-ExtraBold', sans-serif;
    position: absolute;
    top:47%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    font-weight: 800;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.photo-carousel {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: -80px;
}

.photo-carousel img {
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
}

.text-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-bottom:15%;
}

.text-line {
    margin-bottom: 10px;
}

.text-line:first-child {
    font-size: 50px;
    font-weight: 300;
}

.text-line:nth-child(2) {
    font-size: 71px;
    font-weight: 400;
}

.text-line:last-child {
    font-size: 23px;
    font-weight: 100;
}

.social-icons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.social-icon {
    width: 25px;
    cursor: pointer;
}

.satisfaction-section {
    text-align: right;
    padding-right: 20px;
    margin-bottom: 20px;
}

.satisfaction-text {
    font-size: 24px;
    color: #212121;
    margin-bottom: 10px;
}

.highlighted-text {
    color: #E93656;
}

.progress-bar-container {
    width: 16%;
    height: 6px;
    background-color: #212121;
    margin-left: auto;
    margin-right: 1px;
    border-radius: 10px;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #E93656;
    transition: width 2s ease-in-out;
    border-radius: 10px;
}

.second-page {
    height: 913px;
    background-color: #FFFFFF;
    margin-top: 135px;
}

.head-container {
    width: 100%;
    max-width: 1690px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    flex: 1;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

.left-content h1 {
    font-size: 40px;
    color: #222222;
}

.left-content h3 {
    font-size: 14px;
    color: #DAAE19;
}

.left-content p {
    margin-top: 33px;
    font-size: 15px;
    color: #555555;
}

.left-content button {
    margin-top: 73px;
    padding: 20px 30px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.photo-carousel {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.photo-carousel img {
    width: 430px;
    height: 603px;
    border-radius: 10px;
    object-fit: cover;
}

.right-content {
    flex: 1;
    padding: 20px;
}

.skill-bar {
    margin-bottom: 20px;
}

.skill-bar h4 {
    font-size: 20px;
    color: #555555;
    margin-bottom: 24px;
    font-weight: 300;
}

.progress-bars {
    width: 256px;
    height: 9px;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.progress-bars .fill {
    height: 100%;
    background-color: #E93656;
    border-radius: 10px;
    transition: width 2s ease-in-out;
}

.skill-bar h4 span {
    color: #E93656;
}

.left-content button:hover {
    background-color: #E93656;
}

.left-content p {
    width: 334px;
    height: 149px;
    margin-bottom:-60px;
    margin-right:-40px;
}

.squares-container {
    display: flex;
    margin-top:78px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #F9F9F9;
    margin-right: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square:hover {
    background-color: #15263E;
}

.inner-square {
    width: 9px;
    height: 20px;
    border: 1px solid #6B6B6B;
}

.squar {
    width: 50px;
    height: 50px;
    background-color: #F9F9F9;
    margin-right: 5px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squar:hover {
    background-color: #15263E;
}

.inner-squar {
    width: 9px;
    height: 20px;
    border: 1px solid #6B6B6B;
}

.contact-info {
    position: relative;
}

.blue-background {
    background-color: #131A36;
    height: 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    flex-wrap:wrap;
    margin-top:-150px;
}

.logo-text-group {
    display: flex;
    align-items: center;
    padding:10px;
}

.logo {
    width: 80px;
    height: 80px;
    padding: 20px;
}

.logo-container {
    border: 2px dashed #FFFFFF;
    border-radius:50%;
}

.text-group {
    margin-left: 30px;
}

.phone-title {
    font-size: 25px;
    color: #FFFFFF;
    margin: 0;
    font-weight:500;
    margin-bottom:15px;
}

.phone-number {
    font-size: 14px;
    color: #DFDFDF;
    font-weight:200;
    opacity: 1;
}

.logo-container:hover {
    background-color: #E93656;
    border: none;
}

.block-section {
    margin-top: 30px;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    margin-top:80px;
    justify-content: center;
}

.block {
    width: 285px; 
    height: 360px;
    margin-bottom: 10px; 
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-image {
    width: 60px;
    height: auto;
}

.block-text {
    font-size: 22px;
    color: #222222;
    margin-top: 10px;
}

.block:hover .block-image {
    opacity: 0;
}

.block:hover {
    background-color: #15263E;
}

.block:hover .block-text {
    color: #FFFFFF;
    margin-top: -10px;
}

.block:hover::after {
    content: "Lorem ipsum dolor amet, consectetur adipiscing elit. Sunt sed ad possimus magni maiores. Ipsa dolor.";
    font-size: 14px;
    color: #ECECEC;
    margin-top: 10px;
    width:222px;
    height:70px;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
}





.new-section {
    margin-top: 100px;
}

.clip-container {
    position: relative;
}

.clip-image {
    width: 100%;
    height: auto;
}

.content-wrapper {
    position: absolute;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding-left:8%;
    padding-right:8%;
    flex-wrap:wrap;
}

.content {
    text-align: center;
    display:flex;
}

.paragraph-content {
    font-size: 15px;
    color: #FFFFFF;
    width: 497px;
    height: 78px;
    align-items: flex-end;
}

.d3-image {
    width: 140px;
    border: 2px dashed #FFFFFF;
    border-radius: 50%;
    padding:15px;
}

.quote-image {
    width: 39px;
    height: 26px;
    margin-bottom:38px;
}

.role {
    font-size: 13px;
    color: #E93656;
    margin-bottom:9px;
}

.name {
    font-size: 28px;
    color: #FFFFFF;
}

.content-wrapper .content:nth-child(1) {
    align-items: flex-end;
}

.content-wrapper .content:nth-child(3) {
    flex-direction: column;
    align-items: flex-start;
}




.slider-container {
    position: absolute;
    top: 50%;
    right: 0;
    left:85%;
    transform: translate(0, -50%);
}

.squares {
    display: flex;
    flex-direction: column;
}

.square {
    width: 13px;
    height: 13px;
    border: 2px solid #FFFFFF;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
}

.square:hover {
    border-color: #E93656;
}




.latest-projects {
    margin-top: 144px;
}

.latest-projects-heading {
    font-size: 70px;
    color: #2E2E2E;
    margin-bottom: 55px;
    display:flex;
    justify-content: center;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start; 
}

.project-image {
    position: relative;
    margin-left: 30px;
    margin-bottom: 20px; 
    flex: 0 0 calc(77.333% - 30px); 
}

.likeblue-background {
    position: absolute;
    top: 0;
    left: -30%;;
    width: 240px;
    height: 400px;
    background-color: #15263E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: flex-start;
}

.vertical-text p {
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    padding:5px;
}

.project-image img {
    width: 300px;
    height: 350px;
}

.project-image:nth-child(3n+1) {
    margin-right: 0; 
}




.vertical-text p:hover {
    color: #E93656;
    cursor: pointer;
}



.project-image img:hover {
    filter: brightness(70%);
    transition: filter 0.3s ease; 
}








.news-events-wrapper {
    margin-top: 100px;
}


.news-events-section {
    text-align: center;
}


.news-event-title {
    font-size: 13px;
    color: #2ED279;
}


.latest-articles-title {
    font-size: 70px;
    color: #2E2E2E;
}


.main-content-section {
    display: flex;
    justify-content: center;
}


.article {
    display: flex;
    margin-top: 50px;
}


.article-image {
    width: 638px;
    height: 490px;
}


.bluee-background {
    background-color: #15263E;
    width: 380px;
    height: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-8px;
}


.vertical-texting {
    transform: rotate(-180deg);
    writing-mode: vertical-lr;
    color: #E93656;
    font-weight: 400;
    font-size:30px;

}


.article-icon {
    width: 90px; 
    height: auto;
    margin-top:100px;
    margin-left:5px;
    margin-bottom:35px;
}


.text-details {
    margin-left: 20px;
}


.subtitle {
    font-size: 14px;
    color: #888888;
    margin-bottom:6px;
}


.title {
    font-size: 38px;
    color: #161616;
    padding-bottom:28px;
}


.description {
    font-size: 16px;
    color: #494949;
    margin-bottom: 5px;
}


.read-more {
    font-size: 13px;
    color: #444444;
}

.article-details {
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left:105px;
    background-color: #FAFAFA;
}


.main-content-section {
    display: flex;
    justify-content: center;
    margin-bottom: -50px; 
}


.inverted-article .article-details {
    margin-right: 20px;
}


.inverted-article .article-image {
    order: 2;
}


.inverted-article .bluee-background {
    order: 1;
}


.inverted-article .article-icon {
    margin-right: 15px;
    margin-left: 0;
}


.inverted-article .text-details {
    margin-left: 0;
    margin-right: 20px; 
}





.start-section {
    margin-top: 150px;
    text-align: center;
}

.start-text {
    font-size: 14px;
    color: #2ED279;
}

.team-name {
    font-size: 70px;
    color: #262526;
    margin-bottom: 100px;
}

.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    margin: 0 50px; 
}

.news-images {
    width:110px;
}


.images-container {
    position: relative;
    margin-bottom:100px;
}

.hover-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    border: 4px solid #E93656;
    width: 230px;
    height: 190px;
    padding: 20px;
    text-align: center;
    display: none; 
}

.hover-text-container p {
    margin: 0;
    line-height: 1.5;
    margin-top:16px;
}

.photo-container img:hover + .hover-text-container {
    display: block; 
}






.contact-section {
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden; 
}

.contact-image {
    filter: brightness(30%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFFFF;
}

.contact-heading {
    font-size: 45px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contact-subtitle {
    font-size: 17px;
    color: #EEEEEE;
    margin-bottom: 46px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.input-group input {
    width: 290px;
    height: 50px;
    margin-right: 10px;
    font-size: 10px;
    color: #515151;
    border: none; 
    background-color: #FAFAFA; 
    padding: 0 10px; 
    margin-bottom:-5px;
}

#message {
    width: 890px;
    height: 110px;
    font-size: 10px;
    color: #515151;
    margin-bottom: 46px;
    border: none; 
    background-color: #FAFAFA; 
    padding: 10px; 
    margin-right:10px;
}

button[type="submit"] {
    font-size: 12px;
    color: #E93656;
    border: 2px solid #E93656;
    padding: 10px 20px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #E93656;
    color: #FFFFFF;
}





.last-section {
    background-color: #282828;
    padding-top:100px;
    padding-bottom:50px;
    text-align: center;
    margin-top:-4px;
}

.roca-title {
    font-size: 55px;
    color: #FFFFFF;
    margin-bottom: 22px;
    font-weight: bolder;
}

.roca-title span {
    font-size: 45px;
    color: #E93656;
}

.section-paragraph {
    font-size: 17px;
    color: #A5A5A5;
    margin: 0 auto;
    max-width: 600px;
}




.footer-section {
    background-color: #171717;
    height: 82px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 15px;
    color: #A0A8B7;
    margin: 0;
}

.rosa {
    color: #FFFFFF;
}









@media (max-width: 768px) {
    .first-page,
    .second-page {
        height: auto;
        margin-top: 0;
    }

    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .left-header {
        text-align: center;
    }

    .right-header {
        margin-top: 20px;
    }

    .number-container {
        margin-bottom: 20px;
    }

    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .photo-carousel {
        width: 80%;
        margin: 20px 0;
    }

    .photo-carousel img {
        width: 100%;
        height: auto;
    }

    .text-section {
        width: 80%;
        padding: 0;
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
    }

    .satisfaction-section {
        text-align: center;
        margin-bottom: 40px;
    }

    .progress-bar-container {
        width: 70%;
        margin: 0 auto;
    }

    .head-container {
        padding: 20px 10px;
    }

    .left-content,
    .photo-carousel,
    .right-content {
        padding: 10px;
    }

    .skill-bar h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .squares-container {
        margin-top: 20px;
    }

    .square {
        margin-right: 10px;
    }

    .contact-info {
        margin-top: 20px;
    }

    .logo-text-group {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-group {
        margin-top: 20px;
    }

    .phone-title {
        margin-bottom: 5px;
    }

    .phone-number {
        margin: 0;
    }

    .left-content{
        align-items: center;
    }

    .social-icons{
        justify-content: center;
    }

    .blue-background {
        min-height:650px;
        padding: 40px 20px;
        margin-top: 50px;
    }

    
    .top-header {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .left-header {
        text-align: center;
    }

    .right-header {
        margin-top: 20px;
    }

    .number-container {
        margin-bottom: 20px;
    }

    
    .hamburger-menu {
        display: block;
        cursor: pointer;
        margin-top: 10px;
    }

    .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: #1A1A1A;
        margin: 5px auto;
        transition: 0.4s;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    
    .content-section {
        flex-direction: column;
        align-items: center;
    }

    .photo-carousel {
        width: 80%;
        margin: 20px 0;
    }

    .photo-carousel img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .text-section {
        width: 80%;
        padding: 0;
        text-align: center;
    }

    .text-line {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .satisfaction-section {
        text-align: center;
        margin-bottom: 40px;
    }

    .progress-bar-container {
        width: 70%;
        margin: 0 auto;
    }

    
    .contact-info {
        margin-top: 20px;
    }

    .input-group input,
    #message {
        width: 90%;
        margin-right: 0;
    }

    
    .footer-section {
        text-align: center;
        padding: 20px 0;
    }

    .footer-text {
        font-size: 14px;
        color: #A0A8B7;
        margin: 0;
    }

    
    .news-events-wrapper {
        display: none;
    }

    
    .new-section {
        display: none;
    }

}
 